[Unit]
Description=Pi Heating
After=network.target

[Service]
ExecStart=/home/pi/PiHeating/launchpi.sh
WorkingDirectory=/home/pi/PiHeating
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
