[Unit]
Description=Pi Heating
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/PiHeating/bin/main.py
WorkingDirectory=/home/pi/PiHeating/bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
